{%include 'admin/cabecera.html'%}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white navbar navbar-light" style="background-color: black">
            <h2>Bienvenido al administrador</h2>
            <p>Aqui Podra Administrar sus libros</p>
            <form >
                <a name="" id="" class="btn btn-primary" href="libros" role="button">Empezar a Gestionar</a>
        </form>
        </div>
    </div>
</div>


{%include 'admin/pie.html'%}