{%include 'admin/sitio/cabecera.html'%}




    <div class="row">
        <div class="col-md-3">
            <!-- targetas -->
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">Python es un lenguaje de programación de propósito general y alto nivel</p>
                    <a name="" id="" class="btn btn-primary" href="https://www.python.org/" role="button">Descargar</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/MySQLBook/MySQLGrow.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">MySQL</h4>
                    <p class="card-text">MySQL es un sistema de gestión de bases de datos</p>
                    <a name="" id="" class="btn btn-primary" href="https://www.scriptcase.net/es/descargar/?gclid=CjwKCAiA_6yfBhBNEiwAkmXy5xg6fGvFtog806xf4eJaNbmDvrkjjaNPPa4251Vax7ggL6fSx30L0RoCe1UQAvD_BwE" role="button">Descargar</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/MongoDBBook/MongoDBGrow.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">MongoDB</h4>
                    <p class="card-text">MongoDB es un sistema de base de datos NoSQL, orientado a documentos y de código abierto.</p>
                    <a name="" id="" class="btn btn-primary" href="https://www.mongodb.com/cloud/atlas/lp/try4?utm_source=google&utm_campaign=search_gs_pl_evergreen_atlas_core_prosp-brand_gic-null_amers-co_ps-all_desktop_eng_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=12212624317&adgroup=115749712463&cq_cmp=12212624317&gclid=CjwKCAiA_6yfBhBNEiwAkmXy53aSzRgG4sjWNk-I3vfxo2dJhBhftlBpr_C0r7U1UgF348PWVhqRchoCmogQAvD_BwE" role="button">Descargar</a>
                </div>
            </div>
        </div>
       
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/JavaScriptBook/JavaScriptGrow.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">JavaScript</h4>
                    <p class="card-text">JavaScript es un lenguaje de programación interpretado</p>
                    <a name="" id="" class="btn btn-primary" href="https://developer.mozilla.org/es/docs/Web/JavaScript" role="button">Descargar</a>
                </div>
            </div>
        </div>
        
    </div>






{%include 'admin/sitio/pie.html'%}